table{
    width: 100%;
}
.mat-form-field{
    font-size: 14px;
    width: 100%;
}
td, th{
    width: 20%;
}
.table-button-row button{
    display: inline;
    margin: 12px;
}
.btn.new{
    width: 10%;
}