table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 70px;
  }

  .table-button-row button{
    display: inline;
    margin: 10px;
  }

  .btn-new{
    width: 10%;
  }