.full-width-input{
    width: 100%;
}

.titulo{
    margin: 0 auto;
    padding: 50px;
    font-family: unquote($string: "Raleway");
    font-size: 28px;
    text-align: center;
    max-width: 300px;
}
