<mat-card class="data-table">
  <mat-card-title>Proformas</mat-card-title>
  <small>Menú de proformas.</small>

  <mat-card-content>

    <mat-card-content>
      <button mat-flat-button color="primary" (click)="onClickCreateProforma()">Crear</button>
    </mat-card-content>

    <mat-form-field appearance="outline" style="max-width: 180px;">
      <mat-label>Buscar:</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar proforma" #input>
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaEmision">
        <th mat-header-cell *matHeaderCellDef> Fecha Emitida </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaEmisiom}} </td>
      </ng-container>

      <ng-container matColumnDef="cancelada">
        <th mat-header-cell *matHeaderCellDef> Cancelada </th>
        <td mat-cell *matCellDef="let element"> {{element.canceled}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{ element.cliente.persona.nombre}} {{ element.cliente.persona.apellido1 }} {{ element.cliente.persona.apellido2 }} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="warn" (click)="onClickModifyProforma(element)">Modificar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="5" aria-label="Seleccione la página de proformas"></mat-paginator>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
