table {
    width: 100%;
}

.data-table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
  