<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fechaEmision">
      <th mat-header-cell *matHeaderCellDef> Fecha Emitida </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEmisiom}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cancelada">
      <th mat-header-cell *matHeaderCellDef> Cancelada </th>
      <td mat-cell *matCellDef="let element"> {{element.canceled}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{ element.cliente.persona.nombre}} {{ element.cliente.persona.apellido1 }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="5" aria-label="Seleccione la página de proformas"></mat-paginator>
