.login {
    padding: 4rem 1rem;
}

mat-card{
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 350px;
    font-family: unquote($string: "Raleway");
    font-size: 28px;
}


.full-width-input, button{
    width: 100%;
}

button{
    margin-top: 50px;
}

mat-card-header{
    margin: 2rem auto;
}