<div class="login">
    <mat-card>

        <mat-card-header>
            AgroServicios Login
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Correo" required>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input type="password" matInput placeholder="Contraseña" required>
            </mat-form-field>

            <button type="submit" mat-raised-button color="warn">Login</button>
        </mat-card-content>
    </mat-card>
</div>