<span class="titulo">{{titulo}}</span>

<mat-dialog-content>
    <div class= "modal">
        <form [formGroup]= "formConstru.baseForm">
            <mat-form-field class="full-width-input" *ngIf="!isNew">
                <input formControlName= "id" matInput placeholder="id" readonly>
                
    
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName= "producto" matInput placeholder="producto" required>
                
    
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName= "fragil" matInput placeholder="fragil" required>
                
    
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
 <div>
    <button mat-button (click) ="guardar()">Aceptar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
 </div>
</mat-dialog-actions>
