
<mat-toolbar color="warn">

<ng-container *ngIf="!isLog; else viewMenu">
    <span>AgroServicios</span>
    <span class="spacer"></span>
    <div>
        <a mat-button [routerLink]="'/login'">Login</a>
        <a mat-button [routerLink]="'/admin'">Admin</a>
    </div>
</ng-container>
</mat-toolbar>



<ng-template #viewMenu>
    <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>  
    </button>
    <span class="spacer"></span>
    <a mat-button (click)="onlogout()" *ngIf="isLog">Logout</a>
</ng-template>